<!DOCTYPE html>
<html>
    <head>
        <title>NoPlan</title>
        <link type="text/css" rel="stylesheet" href="/styles/default/theme.css" />
        <script type="text/javascript" src="/js/noplan_browser.js"></script>
        <script type="text/javascript">
        //<![CDATA[
        //]]>
        </script>
    </head>
    <body>
        <div class="header hbox">
            <div class="logo">Logo</div>
            <div class="search spacer"><input type="search" /></div>
            <div class="root_select spacer"><select></select></div>
            <div class="settings">S</div>
        </div>
        <div class="main"></div>
    </body>
</html>
